<h5>ENVIRONMENT:</h5>
<ul>
   <li>OS: Linux Ubuntu 18.04</li>
   <li>IDE: Eclipse 2019-06 (4.12.0)</li>
   <li>LANG: C++</li>
   <li>LIBS: curl 7.65.3<br />
       boost 1.70.0</li>
   <li>GCC: 7.40.0</li>
   <li>TEST: Google C++ Test Framework</li>
</ul>

<h5>LIBRARIES:</h5>

<ul>
   <li> - CURL
      <dl>
         <dt>DOWNLOAD:</dt>
         <dd>https://curl.haxx.se/download.html</dd>
      
         <dt>INSTALL</dt>
         <dd>https://curl.haxx.se/docs/install.html</dd>
      </dl>
   </li>
         
   <li> - BOOST
      <dl>
         <dt>DOWNLOAD</dt>
         <dd>https://www.boost.org/users/download/</dd>
         
         <dt>BUILD / INSTALL</dt>      
         <dd>https://www.boost.org/doc/libs/1_70_0/more/getting_started/unix-variants.html</dd>
      </dl>
   </li>
</ul>      
      
<h5>GOOGLE C++ TEST FRAMEWORK:</h5>
<dl>
   <dt>INSTALL / USE</dt>
   <dd>https://www.srcmake.com/home/google-cpp-test-framework</dd>

   <dt>DOCS</dt>
   <dd>https://chromium.googlesource.com/external/github.com/google/googletest/+/release-1.8.0/googletest/docs/Primer.md</dd>
</dl>
   
<h5>REFERENCES:</h5>
<ul>
   <li>http://www.omdbapi.com/</li>
   <li>http://www.cplusplus.com/</li>
   <li>https://www.boost.org/</li>
   <li>https://curl.haxx.se/libcurl/c/libcurl.html</li>
   <li>https://stackoverflow.com/</li>
</ul> 
   
   
   